@charset "utf-8";
/*
	Easy_FTP_upload.css
	for use with the Easy FTP Upload wordpress plugin
*/

form.EFU_form {
	border-style: none !important;
	border-width: 0 !important;
	padding: .1em !important;
}

input.EFU_text {
	border-style: solid !important;
	border-width: 1px !important;
	padding: .1em !important;
	width: 100%;
}

input.EFU_text_req {
	border-style: solid !important;
	border-width: 1px !important;
	padding: .1em !important;
	width: 100%;
}

input.EFU_text_req_email {
	border-style: solid !important;
	border-width: 1px !important;
	padding: .1em !important;
	width: 100%;
}

input.EFU_file {
	padding: .1em !important;
	width: 100%;
}

input.EFU_file_req {
	padding: .1em !important;
	width: 100%;
}

p.EFU_notify {
	font-size: 150%;
	color: red;
}

textarea.EFU_textarea {
	border-style: solid !important;
	border-width: 1px !important;
	padding: .1em !important;
	width: 100%;
}

textarea.EFU_textarea_req {
	border-style: solid !important;
	border-width: 1px !important;
	padding: .1em !important;
	width: 100%;
}

input.EFU_radio {
	border-style: none !important;
	border-width: 0 !important;
	padding: .1em !important;
}

input.EFU_submit {
	padding: .1em !important;
	width: 4em;
	height: 2em;
}

input.EFU_reset {
	padding: .1em !important;
	width: 4em;
	height: 2em;
}

table.EFU_table {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	border-style: none !important;
	border-width: 0 !important;
	padding: .1em !important;
	width: 100%;
}

tr.EFU_tr {
    vertical-align: top;
	border-style: none !important;
	border-width: 0 !important;
	padding: .1em !important;
}

td.EFU_td_label {
    width: 25%;
    text-align: right;
	vertical-align: inherit;
	font-family: inherit;
	font-size: inherit;
	border-style: none !important;
	border-width: 0 !important;
	padding: .1em .5em .1em .1em !important;
}

td.EFU_td_field {
    width: 75%;
    text-align: left;
	vertical-align: inherit;
	font-family: inherit;
	font-size: inherit;
	border-style: none !important;
	border-width: 0 !important;
	padding: .1em !important;
}